In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
import os

In [ ]:
from os import walk
mypath = '/content/drive/MyDrive/data/pos'
filenames = next(walk(mypath), (None, None, []))[2]

In [ ]:
fnames = filenames

In [ ]:
def partition(file):
  f2 = file.partition('.')
  f3 = f2[0]
  return f3

def partition_0(file):
  f4 = file.partition('_')
  f5 = f4[0]
  return f5


def partition_2(file):
  f4 = file.partition('_')
  f5 = f4[2]
  return f5

In [ ]:
partition_2(filenames[5])

'7.txt'

In [ ]:
for i in range(len(filenames)):
  name = filenames
  z = filenames[i]
  name[i] = partition(z)

In [ ]:
for i in range(len(name)):
  rating = name
  z = name[i]
  rating[i] = partition_2(z)


ratings = pd.DataFrame(rating)

ratings

        0
0      10
1      10
2      10
3       7
4       8
...    ..
12515   7
12516   9
12517   7
12518   7
12519  10

[12520 rows x 1 columns]

In [ ]:
for i in range(len(fnames)):
  index = fnames
  z = fnames[i]
  index[i] = partition_0(z)

index = pd.DataFrame(index)
index

           0
0      11449
1      11697
2      11580
3      11384
4      11816
...      ...
12515    991
12516    573
12517    428
12518    752
12519    957

[12520 rows x 1 columns]

In [ ]:
df = pd.concat([index, ratings], axis=1)

In [ ]:
col = ['Index', 'Rating']
df.columns = col
df['Index2'] = index
df['Index2'] = 'Positive'
df

       Index Rating    Index2
0      11449     10  Positive
1      11697     10  Positive
2      11580     10  Positive
3      11384      7  Positive
4      11816      8  Positive
...      ...    ...       ...
12515    991      7  Positive
12516    573      9  Positive
12517    428      7  Positive
12518    752      7  Positive
12519    957     10  Positive

[12520 rows x 3 columns]

In [ ]:
df.rename(columns={'Index2':'Label'})

       Index Rating     Label
0      11449     10  Positive
1      11697     10  Positive
2      11580     10  Positive
3      11384      7  Positive
4      11816      8  Positive
...      ...    ...       ...
12515    991      7  Positive
12516    573      9  Positive
12517    428      7  Positive
12518    752      7  Positive
12519    957     10  Positive

[12520 rows x 3 columns]

In [ ]:
txt = os.listdir(mypath)

In [ ]:
text = txt
for i in range(len(txt)):
  with open(f"{mypath}/{txt[i]}",'r') as file:
    text[i] = file.read().rstrip('\n')

In [ ]:
text[5]

'Although the word megalmania is used a lot to describe Gene Kelly, and sometimes his dancing is way too stiff, you have to admit the guy knows how to put on a show. In American In Paris, he choreographs some outstanding numbers, some which stall the plot, but are nonetheless amazing to look at. (Check out Gene Kelly\'s "Getting Out Of Bed Routine" for starters)<br /><br />Gene Kelly stars as a GI who is based out of Paris, he stayed there to paint, soon he is a rich woman\'s gigolo, but he really LOVES SOMEONE ELSE! Hoary story sure, but the musical numbers save the show here! I really loved Georges Gu¨¦tary\'s voice work in this one. His \'Stairway to Paradise\' and his duet with Le Gene on \'S Wonderful\' is \'s marvelous\'. Oscar Levant and Leslie Caron I can take or leave. All in all, a pretty good, but not dynamite movie.'

In [ ]:
reviews = pd.DataFrame(text)

In [ ]:
reviews

                                                       0
0      this has by far been one of the most beautiful...
1      This Film was really eye-opening. I have seen ...
2      As a another reviewer states Hanna's War is an...
3      The dazzling seventeen-minute dance sequence o...
4      That was great fun! I never read those Chester...
...                                                  ...
12515  I really am shocked to see the number of revie...
12516  I've always enjoyed films that depict life as ...
12517  Two women, sick of their controlling husbands,...
12518  Four teenage girls in a suburb of Los Angeles ...
12519  i would never have thought that it would be po...

[12520 rows x 1 columns]

In [ ]:
df_pos = pd.concat([df, reviews], axis=1)

In [ ]:
df_pos

       Index  ...                                                  0
0      11449  ...  this has by far been one of the most beautiful...
1      11697  ...  This Film was really eye-opening. I have seen ...
2      11580  ...  As a another reviewer states Hanna's War is an...
3      11384  ...  The dazzling seventeen-minute dance sequence o...
4      11816  ...  That was great fun! I never read those Chester...
...      ...  ...                                                ...
12515    991  ...  I really am shocked to see the number of revie...
12516    573  ...  I've always enjoyed films that depict life as ...
12517    428  ...  Two women, sick of their controlling husbands,...
12518    752  ...  Four teenage girls in a suburb of Los Angeles ...
12519    957  ...  i would never have thought that it would be po...

[12520 rows x 4 columns]

In [ ]:
df_pos.to_csv('positive_reviews.csv')
!cp positive_reviews.csv "/content/drive/MyDrive/data/pos"

In [ ]:
df_pos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12520 entries, 0 to 12519
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Index   12520 non-null  object
 1   Rating  12520 non-null  object
 2   Index2  12520 non-null  object
 3   0       12520 non-null  object
dtypes: object(4)
memory usage: 391.4+ KB

In [ ]:
df_pos['Index'] = pd.to_numeric(df_pos['Index'])

In [ ]:
df_pos['Rating'] = pd.to_numeric(df_pos['Rating'])

ValueError: ignored

In [ ]:
df_pos['Rating'].unique()

array(['10', '7', '8', '9', '10 (1)', '9 (1)', '8 (1)'], dtype=object)

In [ ]:
df_pos['Rating'] = df_pos['Rating'].replace('10 (1)', '10')
df_pos['Rating'] = df_pos['Rating'].replace('9 (1)', '9')
df_pos['Rating'] = df_pos['Rating'].replace('8 (1)', '8')

In [ ]:
df_pos['Rating'] = pd.to_numeric(df_pos['Rating'])

In [ ]:
df_pos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12520 entries, 0 to 12519
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Index   12520 non-null  int64
 1   Rating  12520 non-null  int64
 2   Index2  12520 non-null  object
 3   0       12520 non-null  object
dtypes: int64(2), object(2)
memory usage: 391.4+ KB

In [ ]:
df_pos = df_pos.rename(columns={'Index2':'Label'})
df_pos = df_pos.rename(columns={0:'Reviews'})

In [ ]:
df_pos

       Index  ...                                            Reviews
0      11449  ...  this has by far been one of the most beautiful...
1      11697  ...  This Film was really eye-opening. I have seen ...
2      11580  ...  As a another reviewer states Hanna's War is an...
3      11384  ...  The dazzling seventeen-minute dance sequence o...
4      11816  ...  That was great fun! I never read those Chester...
...      ...  ...                                                ...
12515    991  ...  I really am shocked to see the number of revie...
12516    573  ...  I've always enjoyed films that depict life as ...
12517    428  ...  Two women, sick of their controlling husbands,...
12518    752  ...  Four teenage girls in a suburb of Los Angeles ...
12519    957  ...  i would never have thought that it would be po...

[12520 rows x 4 columns]

In [ ]:
df_pos.to_csv('positivereviews.csv')
!cp positivereviews.csv "/content/drive/MyDrive/data"

In [ ]:
df_pos.shape

(12520, 4)