In [ ]:
# 1->laptop
# 2->mobile
# 3->tv
# 4->smart_watch
# 5->tablet

ds = [['laptop','tv','smart_watch'],
      ['mobile','tv','tablet'],
      ['laptop','mobile','tv','tablet'],
      ['mobile','tablet'],
      ['laptop','tv','tablet']]

In [ ]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [ ]:
obj = TransactionEncoder()
var = obj.fit(ds).transform(ds)
var2 = pd.DataFrame(var,columns=obj.columns_)
var2

   laptop  mobile  smart_watch  tablet     tv
0    True   False         True   False   True
1   False    True        False    True   True
2    True    True        False    True   True
3   False    True        False    True  False
4    True   False        False    True   True

In [ ]:
from mlxtend.frequent_patterns import apriori

In [ ]:
apriori(var2,min_support=0.5)

   support itemsets
0      0.6      (0)
1      0.6      (1)
2      0.8      (3)
3      0.8      (4)
4      0.6   (0, 4)
5      0.6   (1, 3)
6      0.6   (3, 4)

In [ ]:
apriori(var2,min_support=0.5,use_colnames=True)

   support          itemsets
0      0.6          (laptop)
1      0.6          (mobile)
2      0.8          (tablet)
3      0.8              (tv)
4      0.6      (tv, laptop)
5      0.6  (tablet, mobile)
6      0.6      (tablet, tv)