In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
df1=pd.read_csv('test.csv')
df2=pd.read_csv('sample_submission.csv')
print(df1.shape)
print(df2.shape)

(28000, 784)
(28000, 2)

In [10]:
dum_pred=np.ones((28000,))

In [11]:
dum_pred.shape

(28000,)

In [13]:
cols=["ImageId","Label"]
y_pred=[]
for i in range(dum_pred.shape[0]):
    lst=[]
    lst.append(i+1)
    lst.append(dum_pred[i])
    y_pred.append(lst)
submission=pd.DataFrame(y_pred,columns=cols)

In [14]:
filename = 'kaggle MNIST Predictions.csv'
submission.to_csv(filename,index=False)
print('Saved file: ' + filename)

Saved file: kaggle MNIST Predictions.csv

In [2]:
from sklearn.naive_bayes import MultinomialNB

In [3]:
mnb=MultinomialNB()

In [5]:
df=pd.read_csv('train.csv')

In [7]:
x_train=df.values[:,1:]
y_train=df.values[:,0]

In [9]:
mnb.fit(x_train,y_train)

MultinomialNB()

In [11]:
dftrain=pd.read_csv('test.csv')
dftrain.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
x_test=dftrain.values

In [10]:
print(mnb.score(x_train,y_train))

0.8261190476190476

In [ ]:
dum_pred=mnb.predict(x_test)