In [103]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter

In [104]:
dataset=pd.read_csv('balance-scale.data')
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 625 entries, 0 to 624
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Class-Name      625 non-null    object
 1   Left-Weight     625 non-null    int64
 2   Left-Distance   625 non-null    int64
 3   Right-Weight    625 non-null    int64
 4   Right-Distance  625 non-null    int64
dtypes: int64(4), object(1)
memory usage: 24.5+ KB

In [105]:
class_name={"L":0,"B":1,"R":2}
dataset["Class-Name"]=dataset["Class-Name"].map(class_name)
dataset.head()

   Class-Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
0           1            1              1             1               1
1           2            1              1             1               2
2           2            1              1             1               3
3           2            1              1             1               4
4           2            1              1             1               5

In [106]:
X=dataset.drop(["Class-Name"],axis=1)
X=X.to_numpy()
y=dataset["Class-Name"]
y=y.to_numpy()
X

array([[1, 1, 1, 1],
       [1, 1, 1, 2],
       [1, 1, 1, 3],
       ...,
       [5, 5, 5, 3],
       [5, 5, 5, 4],
       [5, 5, 5, 5]], dtype=int64)

In [107]:
def predictone(x_train,y_train,x_test,k):
    distances = []
    for i in range(len(x_train)):
        distance = ((x_train[i,:]-x_test)**2).sum()
        distances.append([distance,i])
    distances=sorted(distances)
    targets=[]
    for i in range(k):
        index_of_training_data=distances[i][1]
        targets.append(y_train[index_of_training_data])
    predictedans=Counter(targets).most_common(1)[0][0]
    return predictedans

def predict(x_train,y_train,x_test_data,k):
    predictions=[]
    for x_test in x_test_data:
        predictions.append(predictone(x_train,y_train,x_test,k))
    return predictions

In [108]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,confusion_matrix
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)
y_pred=predict(x_train,y_train,x_test,2)
acc=np.mean(y_pred==y_test)
acc

0.76

In [109]:
confusion_matrix(y_test,y_pred)

array([[55,  9,  6],
       [ 1,  0,  3],
       [ 3,  8, 40]], dtype=int64)

In [110]:
target_names=['0',"1","2"]
print(classification_report(y_test,y_pred,target_names=target_names))

ValueError: Number of classes, 3, does not match size of target_names, 2. Try specifying the labels parameter