In [ ]:
import pandas as pd

In [ ]:
a = pd.Series(['pen','cycle','ball','bat'])
a

0      pen
1    cycle
2     ball
3      bat
dtype: object

In [ ]:
b= pd.Series(['Zero','One','Two','Three'])
b

0     Zero
1      One
2      Two
3    Three
dtype: object

In [ ]:
dic=({'House':['a','b','c'],'Number':['1','2','3']})
dic

{'House': ['a', 'b', 'c'], 'Number': ['1', '2', '3']}

In [ ]:
l=pd.DataFrame(dic)
l

  House Number
0     a      1
1     b      2
2     c      3

In [ ]:
df=df=pd.read_excel("/content/drive/MyDrive/Internity - Summer Internship/Pandas/Data_Train.xlsx")
df.tail()

           Airline Date_of_Journey    Source  ... Total_Stops Additional_Info  Price
10678     Air Asia       9/04/2019   Kolkata  ...    non-stop         No info   4107
10679    Air India      27/04/2019   Kolkata  ...    non-stop         No info   4145
10680  Jet Airways      27/04/2019  Banglore  ...    non-stop         No info   7229
10681      Vistara      01/03/2019  Banglore  ...    non-stop         No info  12648
10682    Air India       9/05/2019     Delhi  ...     2 stops         No info  11753

[5 rows x 11 columns]

In [ ]:
df['Date_of_Journey']=pd.to_datetime(df['Date_of_Journey'])

In [ ]:
df

           Airline Date_of_Journey    Source  ... Total_Stops Additional_Info  Price
0           IndiGo      2019-03-24  Banglore  ...    non-stop         No info   3897
1        Air India      2019-01-05   Kolkata  ...     2 stops         No info   7662
2      Jet Airways      2019-09-06     Delhi  ...     2 stops         No info  13882
3           IndiGo      2019-12-05   Kolkata  ...      1 stop         No info   6218
4           IndiGo      2019-01-03  Banglore  ...      1 stop         No info  13302
...            ...             ...       ...  ...         ...             ...    ...
10678     Air Asia      2019-09-04   Kolkata  ...    non-stop         No info   4107
10679    Air India      2019-04-27   Kolkata  ...    non-stop         No info   4145
10680  Jet Airways      2019-04-27  Banglore  ...    non-stop         No info   7229
10681      Vistara      2019-01-03  Banglore  ...    non-stop         No info  12648
10682    Air India      2019-09-05     Delhi  ...     2 stops         No info  11753

[10683 rows x 11 columns]

In [ ]:
df['Arrival_Time']=pd.to_datetime(df['Arrival_Time'])
df.tail()

           Airline Date_of_Journey    Source  ... Total_Stops Additional_Info  Price
10678     Air Asia      2019-09-04   Kolkata  ...    non-stop         No info   4107
10679    Air India      2019-04-27   Kolkata  ...    non-stop         No info   4145
10680  Jet Airways      2019-04-27  Banglore  ...    non-stop         No info   7229
10681      Vistara      2019-01-03  Banglore  ...    non-stop         No info  12648
10682    Air India      2019-09-05     Delhi  ...     2 stops         No info  11753

[5 rows x 11 columns]

In [ ]:
df.describe()

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [ ]:
df.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')

In [ ]:
df.size

117513

In [ ]:
df.shape

(10683, 11)

In [ ]:
df.isnull()

       Airline  Date_of_Journey  Source  ...  Total_Stops  Additional_Info  Price
0        False            False   False  ...        False            False  False
1        False            False   False  ...        False            False  False
2        False            False   False  ...        False            False  False
3        False            False   False  ...        False            False  False
4        False            False   False  ...        False            False  False
...        ...              ...     ...  ...          ...              ...    ...
10678    False            False   False  ...        False            False  False
10679    False            False   False  ...        False            False  False
10680    False            False   False  ...        False            False  False
10681    False            False   False  ...        False            False  False
10682    False            False   False  ...        False            False  False

[10683 rows x 11 columns]

In [ ]:
df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [ ]:
df['Route'].fillna('None',inplace=True)

In [ ]:
df['Total_Stops'].fillna(df['Total_Stops'].mode,inplace=True)

In [ ]:
df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

In [ ]:
df.dropna(axis=1,inplace=True)

In [ ]:
df.drop('Additional_Info',axis=1,inplace=True)

In [ ]:
df.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops', 'Price'],
      dtype='object')

In [ ]:
df['Total_Stops'].unique

<bound method Series.unique of 0        non-stop
1         2 stops
2         2 stops
3          1 stop
4          1 stop
           ...
10678    non-stop
10679    non-stop
10680    non-stop
10681    non-stop
10682     2 stops
Name: Total_Stops, Length: 10683, dtype: object>

In [ ]:
df['Total_Stops'].replace({'1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4,'non-stop':0 },inplace=True)

In [ ]:
df['Total_Stops']

0        0
1        2
2        2
3        1
4        1
        ..
10678    0
10679    0
10680    0
10681    0
10682    2
Name: Total_Stops, Length: 10683, dtype: object

In [ ]:
df.dtypes

Airline                    object
Date_of_Journey    datetime64[ns]
Source                     object
Destination                object
Route                      object
Dep_Time                   object
Arrival_Time       datetime64[ns]
Duration                   object
Total_Stops                object
Price                       int64
dtype: object