In [1]:
import numpy as  np
import pandas as pd

In [2]:
X_train=pd.read_csv('C:\\Users\\Vatsal\\Desktop\\titanic\\train_X.csv')
y_train=pd.read_csv('C:\\Users\\Vatsal\\Desktop\\titanic\\train_y.csv')
X_test=pd.read_csv('C:\\Users\\Vatsal\\Desktop\\titanic\\test_X.csv')
y_test=pd.read_csv('C:\\Users\\Vatsal\\Desktop\\titanic\\test_y.csv')

In [3]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(444, 9)
(444, 9)
(208, 8)
(208, 8)

In [4]:
X_train.head()

   PassengerId  Pclass  Sex   Age  Sibsp  Parch     Fare  Embarked  Survived
0          446       1    1   4.0      0      2  81.8583       1.0         1
1          447       2    0  13.0      0      1  19.5000       1.0         1
2          448       1    1  34.0      0      0  26.5500       1.0         1
3          449       3    0   5.0      2      1  19.2583       3.0         1
4          450       1    1  52.0      0      0  30.5000       1.0         1

In [5]:
X_test.tail()

     PassengerId  Pclass  Sex   Age  Sibsp  Parch     Fare  Embarked
203         1304       3    0  28.0      0      0    7.775         1
204         1305       3    1   NaN      0      0    8.050         1
205         1306       1    0  39.0      0      0  108.900         3
206         1307       3    1  38.5      0      0    7.250         1
207         1308       3    1   NaN      0      0    8.050         1

In [6]:
X_train=X_train.values
y_train=y_train.values
X_test=X_test.values
y_test=y_test.values

In [7]:
X_train=X_train.T
y_train=y_train.reshape(1,X_train.shape[1])
X_test=X_test.T
y_test=y_test.reshape(1,X_test.shape[1])

ValueError: cannot reshape array of size 3996 into shape (1,444)

In [8]:
def sigmoid(x):
    return 1/(1+np.exp)

In [9]:
def model(X,y,lr,iterations):
    m=X_train.shape[0]
    n=X_train.shape[1]
    W=np.zeros((n,1))
    B=0
    cost_func=[]
    
    for i in range(iterations):
        
        Z=np.dot(W.T,X)+B
        A=sigmoid(Z)
        cost=-(1/m)*np.sum(y*np.log(A)+(1-y)*np.log(1-A))
        
        dW=(1/m)*np.dot(A-y,X.T)
        dB=(1/m)*np.sum(A-y)
        
        W=W-lr*dW.T
        B=B-lr*dB
        const_func.append(cost)
        if(i%(iterations/10)==0):
            print('cost after',i,'iterations is:', cost )
        
        
    return W,B.cost_func

In [ ]:
iterations=500
lr=0.0005
W,B,cost_func=model(X_train,y_train,lr=lr,iterations=iterations)