### Import Libraries

In [ ]:
import numpy as np 
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')

In [ ]:
from mlxtend.frequent_patterns import apriori, association_rules

### Import Dataset

In [ ]:
data = pd.read_excel('/content/drive/MyDrive/Datasets/Online Retail.xlsx')
data.head()
df = data.copy()

In [ ]:
data.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [ ]:
data.shape

(541909, 8)

### Data Preprocessing

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [ ]:
data.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [ ]:
data.drop(columns=['CustomerID'], inplace=True)

In [ ]:
data.describe()

            Quantity      UnitPrice
count  541909.000000  541909.000000
mean        9.552250       4.611114
std       218.081158      96.759853
min    -80995.000000  -11062.060000
25%         1.000000       1.250000
50%         3.000000       2.080000
75%        10.000000       4.130000
max     80995.000000   38970.000000

In [ ]:
len(data[data['UnitPrice']<=0]), len(data[data['Quantity']<=0])

(2517, 10624)

In [ ]:
data = data.loc[(data['UnitPrice']>0) & (data['Quantity']>0)]

In [ ]:
data.shape

(530104, 7)

In [ ]:
data['Description'] = data['Description'].str.strip()

In [ ]:
# e = pd.Series([':![kkushi : \n vrni:', '123'])
# e.str.strip(':23![k')

In [ ]:
data['InvoiceNo'] = data['InvoiceNo'].astype('str')
data.loc[data['InvoiceNo'].str.contains('C')]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, Country]
Index: []

In [ ]:
# e = pd.Series([':![kkushi : \n vrni:', '123'])
# e.str.contains(':!')

In [ ]:
data.Country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Finland',
       'Austria', 'Bahrain', 'Israel', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [ ]:
basket_France = (data[data['Country'] == 'France'].groupby(['InvoiceNo', 'Description'])['Quantity'].sum().unstack().reset_index().fillna(0).set_index('InvoiceNo'))
basket_France

Description  10 COLOUR SPACEBOY PEN  ...  ZINC T-LIGHT HOLDER STARS SMALL
InvoiceNo                            ...
536370                          0.0  ...                              0.0
536852                          0.0  ...                              0.0
536974                          0.0  ...                              0.0
537065                          0.0  ...                              0.0
537463                          0.0  ...                              0.0
...                             ...  ...                              ...
580986                          0.0  ...                              0.0
581001                          0.0  ...                              0.0
581171                          0.0  ...                              0.0
581279                          0.0  ...                              0.0
581587                          0.0  ...                              0.0

[392 rows x 1563 columns]

In [ ]:
basket_UK = (data[data['Country'] =="United Kingdom"]
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))

basket_Por = (data[data['Country'] =="Portugal"]
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))
  
basket_Sweden = (data[data['Country'] =="Sweden"]
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))

In [ ]:
def encode(x):
  if x >= 1:
    return 1
  else:
    return 0

In [ ]:
basket_France = basket_France.applymap(encode)

basket_UK = basket_UK.applymap(encode)
  
basket_Por = basket_Por.applymap(encode)
  
basket_Sweden = basket_Sweden.applymap(encode)

### Model Building

#### Calculate support value for all single, pair or groups

In [ ]:
frq_items = apriori(basket_France, min_support = 0.05, use_colnames = True)
frq_items

      support                                           itemsets
0    0.071429                      (4 TRADITIONAL SPINNING TOPS)
1    0.096939                       (ALARM CLOCK BAKELIKE GREEN)
2    0.102041                        (ALARM CLOCK BAKELIKE PINK)
3    0.094388                         (ALARM CLOCK BAKELIKE RED)
4    0.068878                       (ASSORTED COLOUR MINI CASES)
..        ...                                                ...
190  0.102041  (SET/6 RED SPOTTY PAPER PLATES, POSTAGE, SET/6...
191  0.099490  (SET/6 RED SPOTTY PAPER PLATES, SET/20 RED RET...
192  0.056122  (ALARM CLOCK BAKELIKE RED, ALARM CLOCK BAKELIK...
193  0.053571  (PLASTERS IN TIN CIRCUS PARADE, PLASTERS IN TI...
194  0.081633  (POSTAGE, SET/6 RED SPOTTY PAPER PLATES, SET/2...

[195 rows x 2 columns]

In [ ]:
frq_items.iloc[0].itemsets

frozenset({'4 TRADITIONAL SPINNING TOPS'})

In [ ]:
frq_items.iloc[194].itemsets

frozenset({'POSTAGE',
           'SET/20 RED RETROSPOT PAPER NAPKINS',
           'SET/6 RED SPOTTY PAPER CUPS',
           'SET/6 RED SPOTTY PAPER PLATES'})

### Find association using 'lift' (in theory we did using confidence)

In [ ]:
# Store inferred rules in a dataframe

# 1 means 100% mayb
rules = association_rules(frq_items, metric ="lift", min_threshold = 1)
rules.head()

                     antecedents  ... conviction
0  (4 TRADITIONAL SPINNING TOPS)  ...   1.095238
1                      (POSTAGE)  ...   1.002055
2   (ALARM CLOCK BAKELIKE GREEN)  ...   3.791383
3    (ALARM CLOCK BAKELIKE PINK)  ...   3.283859
4     (ALARM CLOCK BAKELIKE RED)  ...   5.568878

[5 rows x 9 columns]

In [ ]:
rules.iloc[-1].antecedents, rules.iloc[-1].consequents

(frozenset({'SET/6 RED SPOTTY PAPER CUPS'}),
 frozenset({'POSTAGE',
            'SET/20 RED RETROSPOT PAPER NAPKINS',
            'SET/6 RED SPOTTY PAPER PLATES'}))

In [ ]:
rules.iloc[0].antecedents, rules.iloc[0].consequents

(frozenset({'4 TRADITIONAL SPINNING TOPS'}), frozenset({'POSTAGE'}))

### For UK

In [ ]:
frq_items = apriori(basket_UK, min_support = 0.01, use_colnames = True)
rules = association_rules(frq_items, metric ="lift", min_threshold = 1)
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])

In [ ]:
rules.iloc[-1].antecedents, rules.iloc[-1].consequents

(frozenset({'WHITE HANGING HEART T-LIGHT HOLDER'}),
 frozenset({'JUMBO BAG PINK POLKADOT', 'JUMBO BAG RED RETROSPOT'}))