In [ ]:
import pandas as pd
import seaborn as sns
import numpy as np

Creating Series Objects

In [ ]:
s=pd.Series([0,1.1,1,2,3,5,8,13]) #it create auto index
s

In [ ]:
s=pd.Series([1,1,2,3,5,8,13,21],index=['a','b','c','d','e','f','g','h'])
print(s)

In [ ]:
s.std()

In [ ]:
s.iloc[0:4]

In [ ]:
s.loc["a":"d"]

In [ ]:
s.values #iterable content

In [ ]:
[b for b in s]

In [ ]:
s.index

In [ ]:
[i for i in s.index]

In [ ]:
for item in zip(s.index,s.values):
    print(item)

In [ ]:
s[0]

In [ ]:
s[2]

In [ ]:
s[6]=44

In [ ]:
s

In [ ]:
mars=pd.Series([0.33,57.99,4222.6],index=['mass','diameter','daylength'])
mars

In [ ]:
mars['mass']

In [ ]:
mars['daylength']

In [ ]:
arr=np.random.randint(1,11,10)
index=np.arange(10,20)
pd.Series(arr,index=index)

In [ ]:
#dictionary to series
d={}
d['mass']=0.33
d['diameter']=57.901
d['daylenth']=4222.60
d

In [ ]:
mars=pd.Series(d,index=["mass","diameter","a"])

In [ ]:
mars

LOC AND ILOC

In [ ]:
s=pd.Series([0.0,1,1,2,4,4,5,88,6],index=[1,2,3,0,5,6,7,8,9])
s

In [ ]:
s.loc[0]

In [ ]:
s.iloc[4]

In [ ]:
mars

In [ ]:
mars.iloc[2]

In [ ]:
mars.loc['mass']

In [ ]:
mars.iloc[0:1] # 1 is not included

In [ ]:
mars.loc['mass':'daylength']

In [ ]:
mars.loc[:'daylength']

In [ ]:
mars.loc[:]

In [ ]:
mars.iloc[:]

In [ ]:
mars.iloc[0:]

In [ ]:
mars.iloc[:3]

In [ ]:
mass=pd.Series([0.33,4.87,5.97,0.642,1898,568,86.8,102,0.0146],index=['Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune','Pluto'])

In [ ]:
mass

In [ ]:
mass.iloc[1]

In [ ]:
mass.iloc[2:5]

In [ ]:
mass>100

In [ ]:
mass[mass>100]

In [ ]:
mass[(mass>100 ) & (mass<600)]

In [ ]:
mass*2

In [ ]:
mass/10

In [ ]:
mass[mass>np.mean(mass)]

In [ ]:
mass[mass>np.median(mass)]

In [ ]:
np.amin(mass)

In [ ]:
np.amax(mass)

In [ ]:
np.argmax(mass)

In [ ]:
np.median(mass)

In [ ]:
np.std(mass)

In [ ]:
mass+mass

In [ ]:
mass-mass

In [ ]:
big_mass=mass[mass>100]
big_mass

In [ ]:
new_mass=mass+big_mass #adding the series  it take the intersection and then add 
new_mass

In [ ]:
pd.isnull(new_mass)

In [ ]:
new_mass[~ pd.isnull(new_mass)] #subsetting the part of the series which is not null

In [ ]:
mass['Moon']=.7346

In [ ]:
mass

In [ ]:
mass.drop(['Pluto'])

Collect numbers for the diameter of these planets (heavenly bodies) and store it as a series object. Then given these two series objects mass and diameter , compute the density of each planet.

In [ ]:
mass=pd.Series([0.33,4.87,5.97,0.642,1898,568,86.8,102,0.0146],index=['Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune','Pluto'])

In [ ]:
diameter = pd.Series([4880,12104,12742,6779,139820,116460,50724,49244,2376.8],index=mass.index)

In [ ]:
volume=np.pi*np.power(diameter,3)/6
volume

In [ ]:
density=mass/volume

In [ ]:
mass['planetx']=6

In [ ]:
density

In [ ]:
density.index

In [ ]:
density_mean=np.mean(density)
for key in density.index:
    if pd.isnull(density[key]):
        density[key]=density_mean

In [ ]:
density

In [ ]:
#alt method
density[pd.isnull(density)]=np.mean(density)

In [ ]:
density

In [ ]:
#task 3
%%timeit
my_dict={}
for i in range(10):
    my_dict[i]=i*11
    print(my_dict)

In [ ]:
my_series=pd.Series(my_dict)

In [ ]:
arr=np.random.randint(0,100000,10000)

In [ ]:
%%timeit
for i in arr:
    i in my_dict

In [ ]:
%%timeit
for i in arr:
    i in my_series

In [ ]:
%%timeit
sum(my_dict.values())

In [ ]:
%%timeit
np.sum(my_series)

In [ ]:
nifty=pd.read_csv("/content/nifty (2).csv",index_col=0).iloc[:,0]

In [ ]:
nifty.head()

In [ ]:
nifty[1:]

In [ ]:
nifty[:-1]

In [ ]:
nifty.values[1:]-nifty.values[:-1]

In [ ]:
np.sum((nifty.values[1:]-nifty.values[:-1]>0))/len(nifty)

In [ ]:
nifty.rolling(5).mean()

In [ ]:
new_index=map(pd.Timestamp,nifty.index)

In [ ]:
new_nifty=pd.Series(nifty,index=new_index)
new_nifty

In [ ]:
new_nifty.index[0]

In [ ]:
new_nifty.rolling("5d").mean()

In [ ]:
dow = new_nifty.copy()
for i in dow.index:
    dow[i] = i.dayofweek

In [ ]:
new_nifty[dow==4]

In [ ]:
a=np.random.randint(0,20,(5,3))

In [ ]:
df=pd.DataFrame(a)
df

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
for c in df.index:
    print(c)

In [ ]:
df.index=["R1","R2","R3","R4","R5"]
df.columns=["C1","C2","C3"]

In [ ]:
df.loc["R3","C2"]

In [ ]:
df.iloc[2,1]

In [ ]:
df.iloc[2:4,1:3]

In [ ]:
df.T

In [ ]:
df.mean()

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
def create_df(nR,nC,maxrand=10):
    arr=np.random.randint(0,maxrand,(nR,nC))
    df=pd.DataFrame(arr)
    df.index=["R"+str(i) for i in np.arange(1,nR+1)]
    df.columns=["C"+str(i) for i in np.arange(1,nC+1)]
    return df

In [ ]:
df=create_df(5,8)

In [ ]:
a=pd.DataFrame({"mass":mass,"diameter":diameter})
a

In [ ]:
a.loc["planetx"]["diameter"]=1000

In [ ]:
a

In [ ]:

a.loc["planetx","diameter"]=1000

In [ ]:
a

In [ ]:
a["pop"]=00

In [ ]:
a

In [ ]:
a["pop"]["Earth"]=8000000

In [ ]:
a

In [ ]:
a.loc["mean"]=np.mean(a)

In [ ]:
a

In [ ]:
df

In [ ]:
df.loc["MEAmN"]=df.mean(axis=0)

In [ ]:

df=df.drop("MEAmN")

In [ ]:
df["Row_mean"]=df.mean(axis=1)

In [ ]:
df.describe()

In [ ]:
df

In [ ]:
df.drop("Row_mean",axis=1,inplace=True)

In [ ]:
df

In [ ]:
import seaborn as sns
import pandas as pd
import numpy as np

In [ ]:
sns.get_dataset_names()

In [ ]:
df=sns.load_dataset('planets')

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
for r in df.index:
    for c in df.columns:
        if pd.isnull(df.loc[r,c]):
            df.drop(r,inplace=True)
            break

In [ ]:
for i, r in df.iterrows():
    if pd.isnull(r).any():
        df.drop(i,inplace=True)

In [ ]:
df.describe()

In [ ]:
df

In [ ]:
df['method'].nunique()

In [ ]:
df1=df.copy()
per_75=df1.distance.quantile(0.75)
for i,r in df1.iterrows():
    if r['year']<2010:
        df1.drop(i,inplace=True)
        continue
    if r['method'] != "Radial Velocity"  and r['method'] !="Transit":
        df1.drop(i,inplace=True)
        continue
    if r['distance'] < per_75:
        df1.drop(i,inplace=True)
        continue

In [ ]:
df1.describe()

In [ ]:
df_3=df.copy()
per_50=df_3.distance.quantile(0.75)
for i,r in df_3.iterrows():
    if r["year"]<2010:
        df_3.drop(i,inplace=True)
        continue
    if r["method"] != "Radial Velocity" and r["method"] != "Transit":
        df_3.drop(i,inplace=True)
        continue
    if r["distance"] < per_50:
        df_3.drop(i,inplace=True)
        continue

In [ ]:
df_3

In [ ]:
df

In [ ]:
df2=df.copy()
a=df2[(df2["year"]>=2010)&
    ((df2["method"]=="Radial Velocity") | (df2["method"]=="Transit")) &
    (df["distance"]>per_75)]

In [ ]:
df_4=df.copy()
df_4[(df_4["year"]>2010)&
     ((df_4["method"]=="Radial Velocity")| (df_4["method"]=="Transit"))&
     (df_4["distance"]>per_50)]

In [ ]:
df.info()

In [ ]:
for i,r in df_3.iterrows():
    print(i)
    print(r)
    break

In [ ]:
##modifying the method column
df.method.unique()

In [ ]:
a="Orbital Brightness Modulation"
a.split(" ")

In [ ]:
"".join([x[0] for x in a.split(" ")])

In [ ]:
short_names={}
for s in df.method.unique():
    short_names[s]="".join([x[0] for x in s.split(" ")])

In [ ]:
short_names

In [ ]:
for i , r in df.iterrows():
    df.loc[i,"sho"]=short_names.get(r['method'],r['method'])

In [ ]:
df=sns.load_dataset('planets')

In [ ]:
df

In [ ]:
def shor(s):
    return short_names.get(s,s)

In [ ]:
df["short_method"]=df["method"].apply(shor)

In [ ]:
df

In [ ]:
df=sns.load_dataset('planets')

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
for i , r in df.iterrows():
    if pd.isnull(r).any():
        df.drop(i,inplace=True)

In [ ]:
df.info()

In [ ]:
short_names={}
for s in df.method.unique():
    short_names[s]="".join([x[0] for x in s.split(" ")])
short_names

In [ ]:
for i ,r in df.iterrows ():
    df.loc[i,"short_method"]=short_names.get(r["method"],r["method"])

In [ ]:
df

In [ ]:
def shorty(s):
    return short_names.get(s,s)

In [ ]:
df["short_method"]=df.method.apply(shorty)

In [ ]:
df

In [ ]:
df_1=df.copy()
for i, r in df_1.iterrows():
    if r["method"] != "Radial Velocity" and r["method"] != "Transit" :
        df_1.drop(i,inplace=True)
        continue
    if r["year"] < 2010:
        df_1.drop(i,inplace=True)
        continue
    if r["distance"] < df_1.distance.quantile(0.75):
        df_1.drop(i,inplace=True)
        continue

In [ ]:
df_1

In [ ]:
df_1.method.unique()
df2=df.copy()
a=df2[(df2["year"]>=2010)&
    ((df2["method"]=="Radial Velocity") | (df2["method"]=="Transit")) &
    (df["distance"]>per_75)]

In [ ]:
df_2=df.copy()
df_2=df_2[(df_2["year"]>2010)&
          ((df_2["method"]=="Radial Velocity") | (df_2["method"]=="Transit"))&
          (df_2["distance"]>df_2.distance.quantile(0.75))]

In [ ]:
df_2

In [ ]:
df_4=df.copy()
df_4[(df_4["year"]>2010)&
     ((df_4["method"]=="Radial Velocity")| (df_4["method"]=="Transit"))&
     (df_4["distance"]>per_50)]

Count the number of planets discovered for each method type

In [ ]:
d={}
for m in df.method.unique():
    d[m]=df[df["method"]==m]["method"].count()

In [ ]:
def create_df(nR,nC,maxrand=10):
    arr=np.random.randint(0,maxrand,(nR,nC))
    df=pd.DataFrame(arr)
    df.index=["R"+str(i) for i in np.arange(1,nR+1)]
    df.columns=["C"+str(i) for i in np.arange(1,nC+1)]
    return df

In [ ]:
print(d)

In [ ]:
##alternate
df.groupby("method")["method"].count()

In [ ]:
df.groupby("method")["distance"].mean()

find out what fraction of planet have been found in the last decade (i.e, in 2010s) across each method type

In [ ]:
d={}
for m in df.method.unique():
    d[m]=df[(df["method"]==m)&(df["year"]>=2010) &(df["year"]<2020)]["method"].count()

In [ ]:
d

In [ ]:
s_2010s=df[df.year>=2010].groupby("method")["method"].count()

In [ ]:
s_alltimes=df.groupby("method")["method"].count()

In [ ]:
s_2010s/s_alltimes

In [ ]:
df=sns.load_dataset('planets')

In [ ]:
df[df["year"]>=2010].groupby("method")["method"].count()

In [ ]:
df[df["distance"]>df["distance"].mean()].groupby("method")["method"].count()

In [ ]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [ ]:
df=sns.load_dataset("exercise")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  90 non-null     int64
 1   id          90 non-null     int64
 2   diet        90 non-null     category
 3   pulse       90 non-null     int64
 4   time        90 non-null     category
 5   kind        90 non-null     category
dtypes: category(3), int64(3)
memory usage: 2.8 KB

In [ ]:
df.describe()

       Unnamed: 0         id       pulse
count   90.000000  90.000000   90.000000
mean    44.500000  15.500000   99.700000
std     26.124701   8.703932   14.858471
min      0.000000   1.000000   80.000000
25%     22.250000   8.000000   90.250000
50%     44.500000  15.500000   96.000000
75%     66.750000  23.000000  103.000000
max     89.000000  30.000000  150.000000

In [ ]:
df.drop("Unnamed: 0",axis=1,inplace=True)

In [ ]:
df.head()

   id     diet  pulse    time  kind
0   1  low fat     85   1 min  rest
1   1  low fat     85  15 min  rest
2   1  low fat     88  30 min  rest
3   2  low fat     90   1 min  rest
4   2  low fat     92  15 min  rest

In [ ]:
df.nunique()

Unnamed: 0    90
id            30
diet           2
pulse         39
time           3
kind           3
dtype: int64

In [ ]:
df[(df["pulse"]>100)&(df["diet"]=="low fat")]

    id     diet  pulse    time     kind
34  12  low fat    103  15 min  walking
35  12  low fat    104  30 min  walking
62  21  low fat    110  30 min  running
64  22  low fat    104  15 min  running
65  22  low fat    112  30 min  running
67  23  low fat    105  15 min  running
70  24  low fat    132  15 min  running
71  24  low fat    120  30 min  running
73  25  low fat    110  15 min  running
74  25  low fat    116  30 min  running