In [39]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import itertools

In [16]:
df = pd.read_excel('/content/drive/MyDrive/python/GroceryStoreData 1.csv')

In [4]:
df[19] = 'MILK,BREAD,BISCUIT'

In [8]:
df['MILK,BREAD,BISCUIT'][19] = 'MILK,BREAD,BISCUIT'

In [ ]:
df = data

In [20]:
df.loc[len(df.index)] = ['MILK','BREAD','BISCUIT']

ValueError: ignored

In [23]:
df.columns

Index(['MILK', 'BREAD', 'BISCUIT', 'Unnamed: 3'], dtype='object')

In [27]:
df

      MILK   BREAD     BISCUIT  Unnamed: 3
0    BREAD    MILK     BISCUIT  CORNFLAKES
1    BREAD     TEA   BOURNVITA         NaN
2      JAM   MAGGI       BREAD        MILK
3    MAGGI     TEA     BISCUIT         NaN
4    BREAD     TEA   BOURNVITA         NaN
5    MAGGI     TEA  CORNFLAKES         NaN
6    MAGGI   BREAD         TEA     BISCUIT
7      JAM   MAGGI       BREAD         TEA
8    BREAD    MILK         NaN         NaN
9   COFFEE    COCK     BISCUIT  CORNFLAKES
10  COFFEE    COCK     BISCUIT  CORNFLAKES
11  COFFEE   SUGER   BOURNVITA         NaN
12   BREAD  COFFEE        COCK         NaN
13   BREAD   SUGER     BISCUIT         NaN
14  COFFEE   SUGER  CORNFLAKES         NaN
15   BREAD   SUGER   BOURNVITA         NaN
16   BREAD  COFFEE       SUGER         NaN
17   BREAD  COFFEE       SUGER         NaN
18     TEA    MILK      COFFEE  CORNFLAKES

In [32]:
lst = [0,1,2,3]

In [33]:
df.columns= lst

In [34]:
df

         0       1           2           3
0    BREAD    MILK     BISCUIT  CORNFLAKES
1    BREAD     TEA   BOURNVITA         NaN
2      JAM   MAGGI       BREAD        MILK
3    MAGGI     TEA     BISCUIT         NaN
4    BREAD     TEA   BOURNVITA         NaN
5    MAGGI     TEA  CORNFLAKES         NaN
6    MAGGI   BREAD         TEA     BISCUIT
7      JAM   MAGGI       BREAD         TEA
8    BREAD    MILK         NaN         NaN
9   COFFEE    COCK     BISCUIT  CORNFLAKES
10  COFFEE    COCK     BISCUIT  CORNFLAKES
11  COFFEE   SUGER   BOURNVITA         NaN
12   BREAD  COFFEE        COCK         NaN
13   BREAD   SUGER     BISCUIT         NaN
14  COFFEE   SUGER  CORNFLAKES         NaN
15   BREAD   SUGER   BOURNVITA         NaN
16   BREAD  COFFEE       SUGER         NaN
17   BREAD  COFFEE       SUGER         NaN
18     TEA    MILK      COFFEE  CORNFLAKES
19    MILK   BREAD     BISCUIT         NaN

In [35]:
data = df

In [36]:
minimum_support_count = 2
records = []
for i in range(0, 20):
    records.append([str(data.values[i,j]) for j in range(0, 4)])
items = sorted([item for sublist in records for item in sublist if item != 'nan'])

In [37]:
def stage_1(items, minimum_support_count):
    c1 = {i:items.count(i) for i in items}
    l1 = {}
    for key, value in c1.items():
        if value >= minimum_support_count:
           l1[key] = value 
    
    return c1, l1
c1, l1 = stage_1(items, minimum_support_count)

In [40]:
def stage_2(l1, records, minimum_support_count):
    l1 = sorted(list(l1.keys()))
    L1 = list(itertools.combinations(l1, 2))
    c2 = {}
    l2 = {}
    for iter1 in L1:
        count = 0
        for iter2 in records:
            if sublist(iter1, iter2):
                count+=1
        c2[iter1] = count
    for key, value in c2.items():
        if value >= minimum_support_count:
            if check_subset_frequency(key, l1, 1):
                l2[key] = value 
    
    return c2, l2
c2, l2 = stage_2(l1, records, minimum_support_count)

NameError: ignored